:root {
  --g1: #858ae3;
  --g2: #d33f49;
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

@keyframes animated-text {
  from {
    background-position: 0%;
  }
  to {
    background-position: -200%;
  }
}

.animated-text {
  animation: animated-text 5s linear 0ms infinite forwards;
  background-size: 200%;
  display: inline-block;
}

#parent {
  animation: background-pan 5s linear infinite;
  background: linear-gradient(to right, var(--g1), var(--g2), var(--g1));
  background-size: 200%;
  height: 100vh;
}

.centered {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

#tiles {
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
}

#title {
  color: white;
  margin: 0px;
  pointer-events: none;
  transition: opacity 1200ms ease;
}
